<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tp.config.mapper.restaurantImageMapper">


<!-- INSERT -->

<insert id="insertRestaurantImage" parameterType="restaurant">
	INSERT INTO restaurant_image
	VALUES( 
			#{image},
			#{restaurantId}
			)
</insert>

<!-- DELTE -->

<delete id="deleteRestaurantImage" parameterType="restaurant">
	DELETE FROM restaurant_image
	WHERE restaurant_id = #{value}
</delete>

<delete id="deleteRestaurantImageByFile" parameterType="restaurant">
	DELETE FROM restaurant_image
	WHERE image = #{value}
</delete>

<!-- SELECT -->
<select id="selectRestaurantImageById" parameterType="_int" resultType="java.lang.String">
	SELECT image
	FROM  restaurant_image
	WHERE restaurant_id = #{value}
</select>



</mapper>
